<h1>{{user.name}}</h1>
<div *ngFor="let capoeiraMember of members">
    <br>
    <h1>{{capoeiraMember.group}}</h1>
    <h3>Hello {{capoeiraMember.capoeiraName}}</h3>
<div class="card card-primary" *ngFor="let group of capoeiraMember.groups">
    <div class="card-header bg-primary">
        {{group}}
    </div>
    <div class="card-body">
        <p>{{capoeiraMember.description}}</p>
        <a href="#">{{capoeiraMember.image}}</a>
    </div>
</div>
</div>
<br>
<div class="jumbotron">
    <h1>Capoeira Member Form</h1>
    <form>
        <div class="form-group">
            <label for="capoeiraName"></label>
            <input 
                required
                ngModel 
                #capoeiraName 
                (change)="log(capoeiraName)" 
                name="capoeiraName"  
                id="capoeiraName" 
                type="text" 
                class="form-control">
            <div class="alert alert-danger" *ngIf="capoeiraName.touched && capoeiraName.valid">It's a required field.</div>
            <label for="graduation"></label>
            <input id="graduation" type="text" class="form-control">
            <label for="group"></label>
            <input id="group" type="text" class="form-control">
            <label for="groups"></label>
            <input id="groups" type="text" class="form-control">
            <label for="description"></label>
            <input id="description" type="text" class="form-control">
        </div>
        <div><button class="btn btn-primary">Submit</button></div>
    </form>
</div>