<form name="sentMessage" id="contactForm" novalidate *ngIf="formConfig">
  <div *ngFor="let input of formConfig.inputs; let index = index;">
    <div class="control-group">
      <div class="form-group floating-label-form-group controls">
        <label>{{input.label}}</label>
        <input type="text" class="form-control"  [(ngModel)]="inputs[index]" placeholder="{{input.placeholder}}" id="{{input.id}}" name="{{input.id}}">
        <p class="help-block text-danger"></p>
      </div>
    </div>
  </div>  
  
  <div *ngFor="let textarea of formConfig.textareas; let index = index;">
    <div class="control-group">
      <div class="form-group floating-label-form-group controls">
        <label>{{textarea.label}}</label>
        <textarea rows="{{textarea.numberOfLines}}" class="form-control" [(ngModel)]="textareas[index]" placeholder="{{textarea.placeholder}}" id="{{textarea.id}}" name="{{textarea.id}}"></textarea>
        <p class="help-block text-danger"></p>
      </div>
    </div>
  </div>

  <br>
  <div id="success"></div>
  <div class="form-group">
    <button (click)="submit()" class="btn btn-primary" id="{{formConfig.button.id}}">{{formConfig.button.label}}</button>
  </div>
  </form>