

    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="../assets/images/portada.JPG" alt="Profile image example"/>
        <img align="left" class="fb-image-profile thumbnail" src="../assets/images/perfil.jpg" alt="Profile image example"/>
        <div class="fb-profile-text">
            <h1>Graduado Maizena</h1>
            <h3>Nação Cultural</h3>
            <h4>Ricardo Maximino Gonçalves de Moraes</h4>
            <p>Maizena porque comingo o caldo engrossa.</p>
        </div>
        <br>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
    </div>