<app-banner [bannerConfig]="bannerConfig"></app-banner>

<!-- Post Content -->
<article *ngIf="!editing">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto" *ngIf="!editing" [innerHtml]="html">
      </div>
    </div>
  </div>
</article>
<article *ngIf="editing">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <app-form
          [formConfig]="formConfig"
          [inputs]="inputs"
          [textareas]="textareas"
          (formsubmit)="formsubmit($event) "></app-form>
        </div>
      </div>
    </div>
  </article>
  <aside class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <button style="float: right" *ngIf="isOwner() && isEditable()" (click)="edit()">Edit</button>
        </div>
    </div>
  </aside>

<hr>
