
<app-banner [bannerConfig]="bannerConfig"></app-banner>
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div *ngFor="let post of posts; let index = index;">
          <div class="post-preview">
            <a [routerLink]="['/post', post.id]">
              <div [innerHTML]="parseMarkedDownTextToHtlm(post.snipText)"></div>
            </a>
            <p class="post-meta">Posted by
              <a [routerLink]="['/profile', post.author.id]">{{post.author.name}}</a>
              on {{post.createDate | date: 'MMMM d y'}}</p>
          </div>
          <hr>
        </div>
        <!-- Pager -->
        <div class="clearfix">
          <button class="btn btn-primary float-right" (click)="getOlderPots()">Older Posts &rarr;</button>
        </div>
      </div>
    </div>
  </div>

  <hr>


