

<section class="row" style="margin-top: 10%;">
  <div class="text-center col" style="padding-top: 20px; position: absolute; width:400px; height:400px; top: calc(50% - 200px); left: calc(50% - 200px); border: 1px solid #000;">
      <form class="form-signin">
        <img class="mb-4" src="../../assets/image/login.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="username" class="sr-only">Email address</label>
        <input type="email" id="username" name="username" [(ngModel)]="username" class="form-control" placeholder="Email address" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" [(ngModel)]="rememberme" id="mememberme" name="rememberme" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" (click)="login()">Sign in</button>
        <p class="mt-5 mb-3 text-muted">Don't have an account! <a [routerLink]="['/home']">Sign Up Here</a></p>
      </form>
    </div>
</section>

