<h1>{{user.name}}</h1>
<hr>
<div>
  <h2>List</h2>
  <ul>
    <li *ngFor="let param of list">{{param.key}} = {{param.value}}</li>
  </ul>
  <button
    (click)="addOnTop()">
      Add On Top
  </button>
  <button
    (click)="addAtBotton()">
      Add At Botton
  </button>
  
  <button
    (click)="removeOnTop()">
      Remove On Top
  </button>
  <button
    (click)="removeAtBotton()">
    Remove At Botton
  </button>  
</div>
<hr>
<div>
  <h2>Change Name</h2>
  <input [(ngModel)]="name">
  <button 
    (click)="changeUserName()">
      Change User Name
  </button>
</div>
<hr>
<div>
  <h2>Navagating</h2>
  <div>
    <h3>Sending Parameters Programatically</h3>
    <button 
    (click)="sendQueryParamsHere()">
      Here
    </button>
    <button 
    (click)="sendQueryParamsOut()">
       Out
    </button>
  </div>
  <div>
    <h3>Sending Query Parameters With Bounding Property</h3>
    <button 
      [routerLink]="['/list', 'sendingQueryParams']"
      [queryParams]="{
        one: list[0].value,
        two: list[1].value,
        three: list[2].value}">
         Here
    </button>
    <button 
    [routerLink]="['/music']"
    [queryParams]="{
      one: list[0].value,
      two: list[1].value,
      three: list[2].value}">
       Out
  </button>
  </div>
  
  <div>
    <h3>Sending Required Parameters</h3>
    <button
      [routerLink]="['/list', 'previous']">
        previous
    </button>
    <button
      [routerLink]="['/list', 'next']">
        next
    </button>
    
    <button
      (click)="previous()">
        previous Programatically
    </button>
    <button
      (click)="next()">
        next Programatically
    </button>
  </div>

</div>

